<!doctype html>
<html lang="" ng-app="SpeedTestViewApp" ng-controller="SpeedTestResultsControler as firstCtrl">
	<head>
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>Page speed test</title>
		<meta charset="utf-8">

		<style type="text/css">
		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		  display: none !important;
		}
		</style>
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" >
		<link href="content/styles/site-styles.css" rel="stylesheet">
		<link rel="shortcut icon" href="/favicon.ico">
	</head>
	<body ng-cloak>
		<header class="header js-sticky-header">
			<div class="header-info-wrapper">
				<div class="header-info" ng-if="firstCtrl.SizesTableData.length > 0">
					<a class="header-website" target="_blank" href="{{firstCtrl.GetMainPageUrl()}}">
						{{firstCtrl.GetMainPageUrl()}}
					</a>
					<div class="header-files-statistics">
						<div class="header-group">
							<span class="header-group-number">{{firstCtrl.SizesTableData[0]['devperf.cssCount'].new}}</span>
							CSS resources
							<span class="header-group-divider"></span>
							<span class="header-group-number">{{firstCtrl.SizesTableData[0]['devperf.cssSize'].new/1024 | number : 1}}</span>
							kb total CSS size
						</div>
						<div class="header-group">
							<span class="header-group-number">{{firstCtrl.SizesTableData[0]['devperf.jsCount'].new}}</span>
							JS resources
							<span class="header-group-divider"></span>
							<span class="header-group-number">{{firstCtrl.SizesTableData[0]['devperf.jsSize'].new/1024 | number : 1}}</span>
							kb total JS size
						</div>
					</div>
				</div>
			</div>

			<nav class="header-nav">
				<div class="header-nav-group">
					PageSpeed Insights
					<button
							class="button-link"
							ng-click="firstCtrl.ShowMobile=false; firstCtrl.ShowDesktop=true;firstCtrl.Page('performance-chart')"
							ng-class="{active: firstCtrl.ShowDesktop && firstCtrl.ShowPerfChart}"
							type="button">
						<i class="fa fa-desktop"></i>Desktop
					</button>
					<button
							class="button-link"
							ng-click="firstCtrl.ShowMobile=true; firstCtrl.ShowDesktop=false;firstCtrl.Page('performance-chart')"
							ng-class="{active: firstCtrl.ShowMobile && firstCtrl.ShowPerfChart}"
							type="button">
						<i class="fa fa-mobile"></i>Mobile
					</button>
				</div>
				<div class="header-nav-group">
					<button
						class="button-link"
						ng-class="{active: firstCtrl.ShowMainTable}"
						ng-click="firstCtrl.ShowMobile=false; firstCtrl.ShowDesktop=true;firstCtrl.Page('main-table')"
						type="button">
						<i class="fa fa-signal"></i>Statistics
					</button>
					<button class="button-ghost js-open-filter" type="button"><i class="fa fa-plus"></i>Add/Remove Columns</button>
					</div>
			</nav>
		</header>

		<section class="popup data-table-filter js-data-table-filter">
			<header>
				<h2>Add/Remove Columns</h2>
				<button ng-click="firstCtrl.ClearFilters();firstCtrl.UpdateData();">Deselect All</button>
			</header>
			<div class="form-item form-item--search">
				<i class="fa fa-search"></i><input type="text" ng-model="firstCtrl.SearchFilter" placeholder="Search">
			</div>
			<ul>
				<li ng-repeat="data in firstCtrl.Fillters | filter:firstCtrl.SearchFilter | orderBy:'PrettyName'">
					<div class="form-item--checkbox">
						<label>
							<input
								type="checkbox"
								ng-click="firstCtrl.UpdateData()"
								ng-model="data.Value">
							<i></i>
							<span>
								{{data.PrettyName}}
							</span>
						</label>
					</div>
				</li>
			</ul>
		</section>

		<div class="js-performance-tables-begining" ng-if="firstCtrl.ShowPerfChart">
			<section class="data-table data-table--chart" ng-if="firstCtrl.ShowDesktop">
				<h2>Google PageSpeed Insights - Desktop</h2>
				<h2 ng-if="firstCtrl.ChartData.desktop.data.length == 0" class="text-center">No data</h2>

				<table ng-if="firstCtrl.ChartData.desktop.data.length > 0">
					<tbody>
						<tr ng-repeat="page in firstCtrl.ChartData.desktop.data">
							<td>
								<a href="{{firstCtrl.HandleAddress(firstCtrl.SiteUrl, page.Name)}}" target="_blank">{{page.Name}}</a>
							</td>
							<td class="data-table-td--benchmark">
								<div
									class="data-table-bar"
									style="width: {{page.scores.old}}%;">
									{{page.scores.old ? page.scores.old : "0"}}
								</div>
								<span
									ng-attr-data-score="{{firstCtrl.MinimumPassScore}}"
									class="benchmark-line"
									style="left: calc((100% - 36px) * {{firstCtrl.MinimumPassScore}} / 100);">
								</span>
								<div
									class="data-table-bar"
									ng-class="{failed: page.scores.new < firstCtrl.MinimumPassScore,passed: page.scores.new >= firstCtrl.MinimumPassScore}"
									style="width: {{page.scores.new}}%;">
									{{page.scores.new ? page.scores.new : "0"}}
								</div>
							</td>
							<td>
								<button
									class="button-ghost blue"
									ng-if="firstCtrl.HasGoogleSpeedInsightsAdvices(page.Name, 'desktop');"
									ng-click="firstCtrl.OpenGoogleSpeedInsightsAdvicesModal(page.Name, 'desktop');"
									title="Google Speed Insights Advices">
										Details
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</section>

			<section class="data-table data-table--chart" ng-if="firstCtrl.ShowMobile">
				<h2>Google PageSpeed Insights - Mobile</h2>
				<h2 ng-if="firstCtrl.ChartData.mobile.data.length == 0" class="text-center">No data</h2>

				<table ng-if="firstCtrl.ChartData.mobile.data.length > 0">
					<tbody>
						<tr ng-repeat="page in firstCtrl.ChartData.mobile.data">
							<td>
								<a href="{{firstCtrl.HandleAddress(firstCtrl.SiteUrl, page.Name)}}" target="_blank">{{page.Name}}</a>
							</td>
							<td class="data-table-td--benchmark">
								<div
									class="data-table-bar mobile"
									style="width: {{page.scores.old}}%;">
									{{page.scores.old ? page.scores.old : "0"}}
								</div>
								<span
									ng-attr-data-score="{{firstCtrl.MinimumPassScore}}"
									class="benchmark-line"
									style="left: calc((100% - 36px) * {{firstCtrl.MinimumPassScore}} / 100);">
								</span>
								<div
								class="data-table-bar mobile"
								ng-class="{failed: page.scores.new < firstCtrl.MinimumPassScore,passed: page.scores.new >= firstCtrl.MinimumPassScore}"
								style="width: {{page.scores.new}}%;">
									{{page.scores.new ? page.scores.new : "0"}}
								</div>
							</td>
							<td>
								<button
									class="button-ghost blue"
									ng-if="firstCtrl.HasGoogleSpeedInsightsAdvices(page.Name, 'mobile');"
									ng-click="firstCtrl.OpenGoogleSpeedInsightsAdvicesModal(page.Name, 'mobile');"
									title="Google Speed Insights Advices">
										Details
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>

		<section class="data-table data-table--zebra" id="main-table" ng-if="firstCtrl.ShowMainTable">
			<div class="header-with-explanation">
				<h2>Statistics</h2>
				<div class="explanation js-keep-in-right">
					<span class="status-old">Old</span>
					<span class="status-new">/ New</span>
				</div>
			</div>
			<h2 ng-if="firstCtrl.TableData.length == 0" class="text-center">No data</h2>

			<table ng-if="firstCtrl.TableData.length > 0">
				<thead>
					<tr>
						<th
							ng-click="firstCtrl.Sort(firstCtrl.TableData, label.Name)"
							ng-repeat="label in firstCtrl.TableLabels"
							ng-if="firstCtrl.ShowTableElement(label.Name)">
								{{label.PrettyName}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="page in firstCtrl.TableData">
						<td
							ng-class="{notPassed: firstCtrl.ScorePassed(page[label.Name], label)}"
							ng-repeat="label in firstCtrl.TableLabels"
							ng-if="firstCtrl.ShowTableElement(label.Name)"
							compile-html="{{firstCtrl.HandleTableValues(page, label)}}">
						</td>
					</tr>
				</tbody>
			</table>
		</section>

		<footer class="page-footer">
			<div class="clearfix">
				<a href="https://github.com/devbridge/" class="devbridge js-keep-in-right" title="Devbridge Group" target="_blank">Devbridge Group</a>
			</div>
		</footer>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="//rawgit.com/chinmaymk/angular-charts/bower/dist/angular-charts.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/ng-dialog/0.4.0/js/ngDialog.min.js"></script>
		<script src="SpeedTestViewApp.js"></script>
		<script src="SpeedTestResultsControler.js"></script>
	</body>
</html>
