.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

img {
  margin: 0;
  display:inline-block;
  max-width: 100%;
  height: auto;
}

body {
  background: #f1f1f1;
}
