// wraps and rows
// Base structure
.container {
  @include outer-container;
  .main,
  .sidebar {
    // @todo: Do I need this?
    @include row;
  }

  .main {
      background: $white;
      padding: $section-padding;
  }

  .post {
    margin-top: 2.2em;
    border-top: 1px solid $color-secondary;


    &:first-of-type {
      margin-top: 0;
      border-top: none;
    }
  }
}

.home {
  .entry-title {
    margin-top: 0.6em;
  }
}

@include media($medium-screen-up) {
  .main {
    @include span-columns($grid-columns);
    .sidebar-primary & {
      @include span-columns($grid-columns - $sidebar-columns)
    }
  }
  .sidebar {
    @include span-columns($sidebar-columns);
  }
}
