// Typography
$base-font-family: 'Catamaran', sans-serif;
$heading-font-family: $base-font-family;


$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi: 600;
$font-weight-bold: 700;

$body-font-weight: $font-weight-normal;
$bold-font-weight: $font-weight-semi;
$heading-font-weight: $font-weight-normal;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$computed-line-height:    floor(( $base-font-size * $base-line-height));
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 0.4em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #c0ceea;
$green: #7a976f;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$white: #f9f9f9;

$color-secondary: #b6bfb3;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $green;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
//$secondary-background-color: tint($base-border-color, 75%);
$secondary-background-color: $blue;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;


// Padding
$section-padding: 30px 20px;