footer.content-info {
  background: $dark-gray;
  text-align: center;
  padding: $section-padding;

  .social {
    float: none;
    text-align: center;

    ul {
      li {
        text-align: center;

        a, a:visited {
          color: tint($white, 0.8);

          &:hover, &:active {
            color: $action-color;
          }

          &:focus {
            border: 1px dotted $white;
          }
        }

      }
    } /* ul */
  } /* social */

  .menu-mainnav-container {
    float: none;
    text-align: center;

    ul {
      li {
        a, a:visited {

          &:hover, &:active, &:focus {
            color: $action-color;
          }
        }
      }
    }
  } /* menu-mainnav-container */

  .copyright {
    font-size: 0.75em;
    color: $white;
    margin-top: 1.2em;

    a, a:visited {
      color: $white;
      border-bottom: 1px solid $action-color;

      &:hover, &:active, &:focus {
        color: $action-color;
      }
    }
  }
} /* footer.content-info */