.banner {
  background: $dark-gray;
  text-align: center;

  .container {
    padding: 15px 20px 5px;
    position: relative;
  }
}

.burger {
  position: absolute;
  padding-left: 0;
  top: 0.4em;
  right: 1.6em;
  z-index: 900;
  width: 2.4em;
  height: 2.4em;

  &:before {
    font-size: 2em;
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: $action-color;
    box-shadow: 0 0.25em 0 0 $action-color,
    0 0.5em 0 0 $action-color;
  }

  a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

/* burger */

.menu-mainnav-container {
  display: none;

  a, a:visited {
    color: $white;

    &:hover, &:active, &:focus {
      color: $action-color;
    }
  }

  ul {
    li {
      line-height: 1.2em;
      margin-top: 1.2em;

      &.current-menu-item {
        a {
          border-bottom: 2px solid $action-color;
        }
      }
    }
  }
}

.logo-name {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: 140px;

  .name {
    font-family: 'Lora', serif;
    font-size: 1.2em;

    a, a:visited {
      color: $color-secondary;
      transition: color $base-duration $base-timing;

      &:hover, &:active, &:focus {
        color: $action-color;
      }
    }
  }
  .logo {

    h1 {
      margin-top: 0;
    }
    img {

      transition: opacity $base-duration $base-timing;

      &:hover {
        transition: opacity $base-duration $base-timing;
        opacity: 0.8;
      }
    }

    a {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

/* logo-name */

.social {
  display: inline-block;

  ul {
    & > li {
      display: inline-block;

      a:before {
        font-family: 'FontAwesome';
        position: relative;
        margin-right: 5px;
        font-size: 110%;
        text-indent: 0;

      }

      a, a:visited  {
        color: $color-secondary;

        &:hover, &:active, &:focus {
          color: $action-color;
        }
      }

      &.twitter a:before {
        content: '\f099';

      }

      &.github a:before {
        content: '\f09b';
      }

      &.wordpress a:before {
        content: '\f19a';
      }

      &.linkedin a:before {
        content: '\f0e1';
      }

      &a:hover {
        color: $white;

      }
    }
    /* li */
  }
  /* ul */
}

/* social */

@include media($medium-screen-up) {
  .logo-name {
    float: left;
    width: auto;
    max-width: 300px;

    .logo {
      text-align: center;
      display: inline-block;
      vertical-align: middle;

      img {
        max-width: 80px;
      }
    }
    .name {
      display: inline-block;
      vertical-align: middle;
      margin-left: 0.2em;
      font-size: 1.8em;
    }
  }
  /* logo-name */

  .social {
    width: auto;
    float: right;
    padding-right: 0.2em;
  }

  .burger {
    display: none;
  }

  .menu-mainnav-container {
    float: right;
    width: auto;
    text-align: right;
    clear: right;
    margin-top: 0.8em;
    display: block;

    ul {
      li {
        display: inline-block;
        padding: 0 0.4em;
        margin-top: 0;
      }
    }
  }

}