.categories,
.tags,
time.updated {
  color: #999;
}

.entry-content {
  margin-top: 1.2em;
}

@include media($large-screen-up) {
  time.updated,
  .categories,
  .tags {
    @include span-columns(5);
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.2em;
  }
  time.updated {
    @include span-columns(2);
  }
}