.sidebar {
  padding: $section-padding;

  .sidebar-about {
    text-align: center;

    img {
      max-width: 40%;
      margin: 0 auto;
      border: 4px solid $white;
      box-shadow: 1px 2px 3px #aaa;
      display: block;
      margin-top: 1.2em;
    }
  }
  /* sidebar-about */

  ul {
    margin-top: 0;
    margin-bottom: 1.2em;
  }

  h3 {
    margin-top: 0.6em;
    margin-bottom: 0;
  }
}

/* sidebar */